# PostgreSQL
SPRING_DATASOURCE_DB=huza
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=divine44
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/huza
POSTGRES_PORT=5432

# Application
APP_PORT=8081
