SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/huza
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=change-me

# ===== POSTGRESQL (for Docker) =====
POSTGRES_DB=huza
POSTGRES_USER=postgres
POSTGRES_PASSWORD=kevine@123
POSTGRES_PORT=5432

# ===== APPLICATION =====
APP_PORT=8080

# ===== EMAIL (for forgot password) =====
EMAIL_USERNAME=kevineumukundwa0@gmail.com
EMAIL_PASSWORD=zcuc utiu yzkq zdph

APP_VERIFICATION_TOKEN_EXPIRATION=86400000