# PostgreSQL
POSTGRES_DB=huza
POSTGRES_USER=huza
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432

# Application
APP_PORT=8010


GOOGLE_CLIENT_ID=your_google_client_id_here
GOOGLE_CLIENT_SECRET=your_google_client_secret_here
JWT_SECRET_KEY=generate_a_random_32_character_string_here

